<!--Dashboard-->
<div class="container-fluid">
    <div class="row">
        <div>
           <div>
                <nav class="navbar navbar-inverse navinfo">

                    <div class="container-fluid">
                        <div class="navbar-header">
                        </div>
                        <ul class="nav navbar-nav" id="bar">
                            <li ><a data-toggle="tab" href="#View" (click)="getVisitors()">View Visitor</a></li>
                            <li ><a data-toggle="tab" href="#add">Add Visitor</a></li>
                        </ul>

                        <button class="btn btn-success logoutbtn" [routerLink]="['/login']" (click)="logout()" >
                        <span class="glyphicon glyphicon-log-out">&nbsp;Logout</span></button>
                    </div>
                </nav>
                <br>

                <div class="tab-content">
                    <div  id="View" class="tab-pane fade in active">
                        <div *ngIf = "editVisitor" class="col-md-6 col-md-offset-3 jumbotron " >
                          <!--Update Visitor Page-->
                            <h2 align="center" class="updatevisitor">
                            Update Visitor</h2><hr>
                            <form  [formGroup]="form" class="form"  (ngSubmit)="update(form.value)">

                                <div class="txtschool">
                                    <label for="name">Name</label>
                                    <input [formControl]="name" type="text" class="login-input form-group form-control" id="name" [value]="visitorEdit.name" pattern="[a-zA-Z.]{3,20}" required>
                                </div>

                                <div class="txtschool">
                                    <label for="email">Email</label>
                                    <input  [formControl]="email"  type="email" class="login-input form-group form-control" id="email" [value]="visitorEdit.email" pattern="[a-zA-Z{@}a-zA-Z{.}a-zA-Z.]{4,50}" required >
                                </div>

                                <div class="txtschool">
                                    <label for="mobile">Mobile</label>
                                    <input  [formControl]="mobile" type="tel" pattern="[1-9][0-9]{9}" class="login-input form-group form-control" id="mobile" [value]= "visitorEdit.phone_no" required>

                                </div>
                                <div class="txtschool">
                                    <label for="intime">In Time</label>
                                    <input  [formControl]="in_time" type="datetime-local"  id="intime" class="login-input form-group form-control" [value]="visitorEdit.in_time" required>
                                </div>

                                <div class="txtschool">
                                    <label for="outtime">Out Time</label>
                                    <input  [formControl]="out_time" type="datetime-local"  id="outtime" class="login-input form-group form-control"  [value]="visitorEdit.out_time" >
                                </div>
                                <div class="txtschool">
                                    <br><button  type="submit" class="btn btn-info btn-md" >Update</button>
                                    <button class="btn btn-info btn-md"  (click)="editVisitor = false">Cancel</button>
                                </div>
                            </form>
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <div *ngIf = "visitors==0"> <h2 class="heading">No Visitors, Please add visitors.</h2></div>
                            <div *ngIf = "visitors!=0">
                              <!--View Visitor-->
                            <h2 class="heading">View Visitor's</h2><hr>
                                <table class="table table-striped">
                                    <tr>
                                        <th><b>Id</b></th>
                                        <th><b>Name</b></th>
                                        <th><b>Email</b></th>
                                        <th><b>Phone No</b></th>
                                        <th><b>In Time</b></th>
                                        <th><b>Out Time</b></th>
                                        <th><b>Action</b></th>
                                    </tr>
                                    <tr *ngFor="let visitor of visitors">
                                        <td>{{visitor.id}}</td>
                                        <td>{{visitor.name}}</td>
                                        <td>{{visitor.email}}</td>
                                        <td>{{visitor.phone_no}}</td>
                                        <td>{{visitor.in_time}}</td>
                                        <td>{{visitor.out_time}}</td>
                                        <td>
                                        <button class="btn btn-info" type="button" (click)="edit(visitor)"><span class="glyphicon glyphicon-edit">&nbsp;Edit</span></button>
                                        <button class="btn btn-danger" type="button" (click)="delete(visitor.id)"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            </div>
                         </div>
                            <div id="add" class="tab-pane fade">

                                <div class="col-md-6 col-md-offset-3 jumbotron">
                                  <!--Add New Visitor-->
                                    <h2 align="center" class="addinfo">
                                    Add New Visitor</h2><hr>
                                    <form  [formGroup]="form" class="form" (ngSubmit)="onSubmit(form.value)">
                                        <div class="txtschool">
                                            <label for="name">Name</label>
                                            <input [formControl]="name" type="text" class="login-input form-group form-control" id="name" placeholder="Name" pattern="[a-zA-Z.]{3,20}" required>
                                        </div>

                                        <div class="txtschool">
                                            <label for="email">Email</label>
                                            <input [formControl]="email"  type="email" class="login-input form-group form-control" id="email" placeholder="email" pattern="[a-zA-Z{@}a-zA-Z{.}a-zA-Z.]{4,50}" required>
                                        </div>
                                        <div class="txtschool">
                                            <label for="mobile">Mobile</label>
                                            <input [formControl]="mobile" type="tel" pattern="[1-9][0-9]{9}" class="login-input form-group form-control" id="mobile" placeholder="Mobile number" required>
                                        </div>
                                        <div class="txtschool">
                                            <label for="intime">In Time</label>
                                            <input [formControl]="in_time" type="datetime-local"  id="intime" class="login-input form-group form-control" placeholder="In Time" required>
                                        </div>
                                        <div class="txtschool">
                                            <label for="outtime">Out Time</label>
                                            <input [formControl]="out_time" type="datetime-local"  id="outtime" class="login-input form-group form-control" placeholder="Out Time" >
                                        </div>
                                        <div class="txtschool">
                                            <br><button  type="submit" class="btn btn-info btn-md" >Submit</button>
                                        </div>
                                    </form>
                                </div>
                             </div>
                </div>
            </div>
        </div>
    </div>
</div>
